@media screen and (max-width: 768px) {
   .nav-bar a {
      display: inline-block;
      padding: 1rem;
   }

   .content {
      max-width: 40rem;
   }

   .content h3 {
      font-size: 3rem;
   }

   .home-container section {
      min-height: 90vh;
   }

   .home-container section  {
      align-items: flex-end;
   }

   .content p {
      font-size: 1.6rem;
      font-weight: 300;
   }

   .containe-image img {
      height: 200px;
      padding: 2rem;
   }

   .about .row {
      flex-direction: column;
   }

   .about .row .contentt h3 {
      font-size: 2.6rem;
   }

   .about .row .contentt p {
      font-weight: 300;
   }

   .address iframe {
      width: 400px;
   }
}